# Dependency directory
node_modules/

# Private files
.env
.env.dev

# Coverage directory
coverage
/source/coverage

*.test.js.snap


# Logs
logs
*.log
.DS_Store

#build
build

# Vscode
.vscode

# Intellij
.idea/

.editorConfig
data/

dist/